body {
    font-family: "Roboto", sans-serif;
    background-color: var(--colo5);
    color: var(--colo2);
}
:root {
--colo: #2e2f42;
--colo2: #434455;
--colo3: #4D5AE5;
--colo4: #F4F4FD;
--colo5: #FFFFFF;
--colo6: #404bbf;
}
.head {
   
    background-color: #FFFFFF;
}
.foot {
    
    background: var(--colo);
}
.logo {
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--colo3);
}
.studio-logo {
   color: var(--colo);
}
.studio-logo-footer {
    color: var(--color4)

}
.list {
    list-style: none;
}
.link-header {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--colo);
    list-style-type: none;
}
.link-header:active {
    color:var(--colo3);
}
.link-header:hover {
    color: var(--colo6);
}
.link-header:focus {
    color: var(--colo6);
}
.address {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
list-style-type: none;
font-style: normal;
}
.address :focus {
    color: var(--colo6);
}
.address :hover {
    color: var(--colo6);
}
.address-header {
    text-decoration: none;
    color: var(--colo2);
}
.hero {
    background: var(--colo);
    font-weight: 700;
    line-height: 1.07;
}
.hero-text {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color:var(--colo5);
}
.button {
    background-color:var(--colo3);
    color: var(--colo5);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.04em;
}
.button:hover {
    background-color: #404BBF;
}
.button:focus {
    background-color: #404BBF;
}
.features {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--colo)
}
.ul {
    list-style-type: none;
}
.paragraph {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--colo2);
}
.team {
    background-color: var(--colo4);
}
.features-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--colo);
}
.features {
    font-size: 16px;
    line-height: 1.5;
    color: var(--colo2);
}
.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--colo);
    background-color: var(--colo5);
    }
.description {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--colo);
}
.profession {
    font-size: 16px;
    line-height: 1.5;
    color: var(--colo2);
    letter-spacing: 0.02em;
}
.studio-logo-footer {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--colo4);
}
.footer-paragraph {
    font-size: 16px;
    line-height: 1.5;
    color: var(--colo4);
}
.button-portfolio {
    background-color: var(--colo4);
    color: var(--colo3);
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--colo3);
    background-color: var(--colo4);
    cursor: pointer;
}
.button-portfolio:hover {
    background-color: var(--colo6);
    color: var(--colo5);
}
.button-portfolio:active {
    color: var(--colo5);
    background-color: var(--colo6)
}
.button-portfolio:focus {
    color: var(--colo5);
    background-color: var(--colo6);
}
.pic {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}
.small {
    font-size: 16px;
    line-height: 1.5px;
    color: var(--colo2);
}
.link {
    text-decoration: none ;
}
.header-portfolio {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--colo);
}
.paragraph-potos {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--colo2); 
}
.team-list {
    background-color: var(--colo5);
}